#lista{
    border: 5px, double, #FF0000;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1
}

#cons{
    border: 2px, solid, #088A08;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1
}

#cont{
    border: 2px, solid, #088A08;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1
}

#aud{
    border: 2px, solid, #088A08;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1
}

 #seleccion{
    border: 5px, solid, #0101DF;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;

}

#aventura #rpg #sh #accion #plataforma{
    border: 5px, solid, #D7DF01;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;

}

